# Airflow DB
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

# Marketing DB
MARKETING_DB_USER=marketing_user
MARKETING_DB_PASSWORD=marketing_pass
MARKETING_DB_NAME=marketingdb
MARKETING_DB_HOST=localhost 
MARKETING_DB_PORT=5432

# Airflow UID
AIRFLOW_UID=50000


