# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# Airflow files
airflow.db.inited
airflow-webserver.pid
logs/
dags/__pycache__/
plugins/__pycache__/

# VSCode settings
.vscode/
*.code-workspace

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Docker
*.log
*.pid
*.db
*.sqlite
*.sock

# Backup files
*.bak
*.swp
*.swo

# macOS
.DS_Store

# Python egg
*.egg-info/
*.egg

# Build
build/
dist/

# System files
Thumbs.db
ehthumbs.db

# Project-specific folders
bk/airflow.cfg
airflow.cfg
